[submodule "printf/libft"]
	path = printf/libft
	url = git@github.com:5ansus/libft.git
[submodule "minitalk/libft"]
	path = minitalk/libft
	url = git@github.com:5ansus/libft.git
[submodule "push_swap/libft"]
	path = push_swap/libft
	url = git@github.com:5ansus/libft.git
[submodule "proyecto_grafico/MLX42"]
	path = proyecto_grafico/MLX42
	url = https://github.com/42-Fundacion-Telefonica/MLX42
